@import "variables";

body {
    @include font;
    background-image: url(../library/images/bg.png);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    header {
        nav {
            .menu {
                a {
                    &:hover {
                        color: $rm-color;
                    }
                }
            }
        }
    }
    main {
        .swiper {
            .swiper-slide {
                .slide {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    .slide-content {
                        width: 250px;
                    }
                }
            }
        }
    }
}